# Folders
venv
__pycache__
.pytest_cache
node_modules
mysql/*
emqx_data/*

# Files
server_settings.json
password.txt
.env

# File extensions
*.log
*.db
*.sqlite3

# Whitelist files
!.gitkeep
!emqx_data/.gitkeep
