<!-- Color Dropdown menu -->
<div
  id="colorDropdown"
  class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-60 dark:bg-gray-700 dark:divide-gray-600"
  data-popper-reference-hidden=""
  data-popper-escaped=""
  data-popper-placement="top"
  style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(522.5px, 6119.5px, 0px)"
>
  <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="colorDropdownButton">
    <li class="py-1">
      <label for="helper-radio-1" class="block cursor-pointer">
        <div class="flex p-2 rounded hover:bg-purple-500 bg-purple-600">
          <div class="flex items-center h-5">
            <input
              id="helper-radio-1"
              name="color-picker"
              type="radio"
              value="#800080"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
            />
          </div>
          <div class="ml-2 text-sm" id="helper-radio-text-1">
            <label for="helper-radio-1" class="font-medium text-white"> Paars </label>
          </div>
        </div>
      </label>
    </li>
    <li class="py-1">
      <label for="helper-radio-2" class="block cursor-pointer">
        <div class="flex p-2 rounded hover:bg-yellow-300 bg-yellow-400">
          <div class="flex items-center h-5">
            <input
              id="helper-radio-2"
              name="color-picker"
              type="radio"
              value="#FFA500"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
            />
          </div>
          <div class="ml-2 text-sm" id="helper-radio-text-2">
            <label for="helper-radio-2" class="font-medium text-white">Geel</label>
          </div>
        </div>
      </label>
    </li>
    <li class="py-1">
      <label for="helper-radio-4" class="block cursor-pointer">
        <div class="flex p-2 rounded hover:bg-green-500 bg-green-600">
          <div class="flex items-center h-5">
            <input
              id="helper-radio-4"
              name="color-picker"
              type="radio"
              value="#008000"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
            />
          </div>
          <div class="ml-2 text-sm" id="helper-radio-text-4">
            <label for="helper-radio-4" class="font-medium text-white"> Groen </label>
          </div>
        </div>
      </label>
    </li>
    <li class="py-1">
      <label for="helper-radio-5" class="block cursor-pointer">
        <div class="flex p-2 rounded hover:bg-primary-500 bg-primary-600">
          <div class="flex items-center h-5">
            <input
              id="helper-radio-5"
              name="color-picker"
              type="radio"
              value="#1269b0"
              checked
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
            />
          </div>
          <div class="ml-2 text-sm" id="helper-radio-text-5">
            <label for="helper-radio-5" class="font-medium text-white">Blauw</label>
          </div>
        </div>
      </label>
    </li>
    <li class="py-1">
      <label for="helper-radio-6" class="block cursor-pointer">
        <div class="flex p-2 rounded hover:bg-red-500 bg-red-600">
          <div class="flex items-center h-5">
            <input
              id="helper-radio-6"
              name="color-picker"
              type="radio"
              value="#FF0000"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
            />
          </div>
          <div class="ml-2 text-sm" id="helper-radio-text-6">
            <label for="helper-radio-6" class="font-medium text-white">Rood</label>
          </div>
        </div>
      </label>
    </li>
  </ul>
</div>
