<!-- Control Modal -->
<div id="info-control" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full max-w-lg h-full md:h-auto">
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 md:p-8">
      <div class="mb-4 text-md font-light text-gray-700 dark:text-gray-400">
        <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Informatie</h3>
        <p>Bij deze card kun je de oefening starten en stoppen. Controleer eerst of alle instellingen juist zijn ingesteld, Wanneer de tijd voorbij is zal de oefening automatisch stoppen.</p>
      </div>
      <div class="justify-between items-center pt-0 space-y-4 sm:flex sm:space-y-0">
        <div class="items-center space-y-4 sm:space-x-4 sm:flex sm:space-y-0">
          <button
            data-modal-hide="info-control"
            type="button"
            class="py-2 px-4 w-full text-sm font-medium text-gray-700 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
          >
            Sluiten
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Settings Modal -->
<div id="info-settings" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full max-w-4xl max-h-full md:h-auto">
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 md:p-8">
      <div class="mb-4 text-md font-light text-gray-700 dark:text-gray-400">
        <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Informatie</h3>
        <p>Bij deze card kan je de kleur van de ledstrip instellen, de zandloper modus aan of uit zetten (standaard: aan) en opgeven tot hoe ver je omhoog wilt lopen.</p>
        <p class="mt-4">
          Wanneer de zandlopermodus is ingeschakeld, geeft de LED-strip visueel aan hoeveel tijd er nog over is voor de oefening door langzaam leeg te lopen. Als een patiënt gevoelig is voor prikkels,
          wordt aanbevolen om de zandlopermodus uit te schakelen. In dat geval zal de LED-strip enkel aangeven tot hoever iemand de trap op moet lopen.
        </p>
      </div>
      <div class="justify-between items-center pt-0 space-y-4 sm:flex sm:space-y-0">
        <div class="items-center space-y-4 sm:space-x-4 sm:flex sm:space-y-0">
          <button
            data-modal-hide="info-settings"
            type="button"
            class="py-2 px-4 w-full text-sm font-medium text-gray-700 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
          >
            Sluiten
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Time Modal -->
<div id="info-time" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full max-w-lg h-full md:h-auto">
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 md:p-8">
      <div class="mb-4 text-md font-light text-gray-700 dark:text-gray-400">
        <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Informatie</h3>
        <p>
          Je stelt hier in hoe lang de oefening duurt, dit geef je aan door op de tijd balk te klikken en de tijd in te stellen op basis van uren en minuten (standaard staat de tijd ingesteld op 2
          minuten).
        </p>
      </div>
      <div class="justify-between items-center pt-0 space-y-4 sm:flex sm:space-y-0">
        <div class="items-center space-y-4 sm:space-x-4 sm:flex sm:space-y-0">
          <button
            data-modal-hide="info-time"
            type="button"
            class="py-2 px-4 w-full text-sm font-medium text-gray-700 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
          >
            Sluiten
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
