<div class="grid md:grid-cols-2 lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
  {% for workout in workouts %}
  <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
    <h3 class="mb-4 text-2xl font-semibold">{{ workout.name }}</h3>
    <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">{{ workout.description }}</p>
    <ul role="list" class="mt-4 mb-8 space-y-4 text-left">
      {% if workout.pros is iterable %} {% for key, value in workout.pros.items() %}
      <li class="flex items-center space-x-3">
        <!-- Icon -->
        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
        </svg>
        <span>{{ value }}</span>
      </li>
      {% endfor %} {% endif %}
    </ul>

    <div class="flex justify-center mt-auto">
      {% if workout.id != 3 %}
      <a
        href="{{ url_for('frontend.workout_control', workout_id=workout.id) }}"
        class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white dark:focus:ring-primary-900 w-full"
        >Aan de slag</a
      >
      {% else %}
      <button type="button" class="text-white bg-primary-400 dark:bg-primary-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center w-full" disabled>Binnenkort</button>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
