{% extends 'layout_frontend.html' %} {% set active_page = 'workout' %} {% block content %}
<section class="bg-primary-100 dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
    <button
      type="button"
      onclick="system_control('start')"
      class="focus:outline-none text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
    >
      Start oefening
    </button>
    <button
      type="button"
      onclick="system_control('stop')"
      class="focus:outline-none text-white bg-red-500 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
    >
      Stop oefening
    </button>
    {% if workout.name == 'Traploop test' %}
    <label class="relative inline-flex items-center cursor-pointer">
      <input type="checkbox" value="" class="sr-only peer" />
      <div
        class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
      ></div>
      <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">LED strip</span>
    </label>
    <br />
    <div class="flex justify-center items-center space-x-8 gap-4">
      <div>
        <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Start</h3>
        <ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
          {% for sensor in sensors %}
          <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
            <div class="flex items-center pl-3">
              <input id="list-start-{{ sensor.client_id }}" type="radio" value="{{ sensor.client_id }}" name="list-sensor-start" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300
              focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" {% if loop.index == 1 %}
              checked {% endif %} />
              <label for="list-start-{{ sensor.client_id }}" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ sensor.client_id }}</label>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Stop</h3>
        <ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
          {% for sensor in sensors %}
          <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
            <div class="flex items-center pl-3">
              <input
                id="list-end-{{ sensor.client_id }}"
                type="radio"
                value="{{ sensor.client_id }}"
                name="list-sensor-end"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
              />
              <label for="list-end-{{ sensor.client_id }}" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ sensor.client_id }}</label>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <label for="default-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Brightness</label>
    <input id="default-range" type="range" value="50" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700" />
    {% endif %}
  </div>
</section>
{% endblock %} {% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/sockets/init.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sockets/workout.js') }}"></script>
<script>
  $('input[name="list-sensor-start"]').change(function () {
    var selectedValue = $('input[name="list-sensor-start"]:checked').val()
    console.log('Selected item: ' + selectedValue)
    // You can use the selectedValue in your JavaScript code as needed
  })
  $('input[name="list-sensor-start"]').change(function () {
    var selectedValue = $('input[name="list-sensor-start"]:checked').val()
    console.log('Selected item: ' + selectedValue)
    // You can use the selectedValue in your JavaScript code as needed
  })
</script>
{% endblock %}
