<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stair Challenge</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/output.css')}}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/touch-icon.png') }}">

        <!-- Child template head content -->
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            {% include 'includes/_navbar.html' %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>

        <!-- Script libraries -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.min.js"></script>
        <script text="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/socket.io-client/dist/socket.io.min.js') }}"></script>

        {% block script %}{% endblock %}
    </body>
</html>
